
.main {
  padding: 5vw;

  .nav {
    align-items: center;
    gap: 1.5vw;
    box-sizing: border-box;
    text-align: center;

    a {
      display: inline-block;
      width: 40%; 
      text-decoration: none;
      color: #222;
      font-size: 1.75vw;
      font-weight: 500;
      padding: 1em;
      border-radius: 0.2em;
      background: #219ebc;
      margin-left: 1.5vw;
      margin-bottom: 1.5vw;

      &:last-child {
        background: #8ecae6;
      }

      &:hover {
        background: #00b4d8;
      }
    }
  }
}